@import 'inc/reset.css';
@import 'inc/placeholder.css';

body { background:url('/src/bg.jpg') no-repeat center;font:14px "lucida sans unicode",arial,sans-serif;height:100vh;margin:0;position:relative; }
ul>li { display:inline-block;vertical-align:top;width:300px; }
h1 { font:xxx-large "Shadows Into Light";margin:0; }
a { color:#aaa;display:inline-block;font-size:14px;text-decoration:none; }

#login { text-align:center; }
#login li { margin-bottom:10px; }
#login li:last-child { height:20px;line-height:20px; }
#login input { font-size:18px;padding:10px;width:280px; }
#login input[type=submit] { background:var(--blue);color:#fff;width:302px; }
#login input {
     border:#ccc solid 1px;
     -moz-border-radius:10px;
     -webkit-border-radius:10px;
     -khtml-border-radius:10px;
     border-radius:10px;
}

.bad { color:red !important;font-style:italic; }

.box {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.box-content {
     text-align:center;
}


.box-content>ul>li:last-child {
     background:#fff;
     border:#ccc solid 1px;
}

.box-content>ul>li {
     -moz-border-radius:1em;
     -webkit-border-radius:1em;
     -khtml-border-radius:1em;
     border-radius:1em;
     padding:20px;
}
