ul,div { -moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;border:#ccc solid 1px;list-style:none;margin:20px; }
ul,li,p { font:normal 14px "lucida sans unicode","Lucida Grande",sans-serif;padding:10px; }
div { background:#eee;padding:20px; }
p { font-size:10px; margin:0 20px; }
